.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-nav .nav-link {
  margin-right: 1rem;
  transition: color 0.2s ease;
}

.navbar-nav .nav-link:hover {
  color: #53ac59 !important;
}
.navbar-brand img {
  vertical-align: middle;
}
